<div class="panel panel-default">
  <div class="panel-heading">Add new country</div>
  <div class="panel-body">
    Name <input type="text" class="input-medium" name="Name" value="" ng-model="country.name">
    FlagCode <input type="text" name="FlagCode" value="" ng-model="country.flagCode">
    Group
    <select ng-model="country.groupId"
                  ng-options="group.id as group.name for group in groups">
    </select>
    <input type="button" name="sumbit" value="Add" ng-click="addCountry(country)" class="btn btn-primary">
  </div>
</div>
<style media="screen">
  .img-thumbnail.flag-icon-background {
    width: 27px;
    height: 21px;
  }
  .flag-wrapper {
    height: 21px;
  }
</style>
<div class="table-responsive table-striped">
  <table class="table table-striped">
    <tr>
      <th>

      </td>
      <th>
        Name
      </td>
      <th>
        Flag Code
      </th>
      <td>
        Group
      </td>
      <td>
        Actions
      </td>
      <td>

      </td>
    </tr>
    <tr ng-repeat="country in countries">
      <td>
        <flag-icon country="country"/>
      </td>
      <td>
          {{country.name}}
      </td>
      <td>
          {{country.flagCode}}
      </td>
      <td>
          {{country.group}}
      </td>
      <td>

      </td>
    </tr>
  </table>
</div>
